* {
	margin: 0px;
	padding: 0px;
	font-size: 20px;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

#logo-decoration {
	color: white;
	text-decoration: none;
}
.site-header {
	background: #2a3644;
	display: flex;
	padding: 10px 20px;
	position: fixed; /* 固定表示 */
	justify-content: space-between;
	width: 100%;
	z-index: 1000;
}

.gnav__menu {
	list-style: none;
	display: flex;/* 並列 */
}

.gnav__menu__item {
	margin-left: 20px;
}

.gnav__menu__item a {
	color: white;
	text-decoration: none;
}

.main-contents {
	line-height: 1.6;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 50px;
	width: 900px;
}

/* エラーメッセージ */
.error-messages li {
	color: red;
	margin: 10px 0;
	margin-left: 20px;
}

/* マイページ */
.mypage-chart {
	margin-top : 40px;
	display: inline-block;
	width: 100%;
}

.mypage-chart h3 {
	text-aline: center;
}

.mypage-table {
	width: 70%;
}

.survey-form form {
	height: 35px;
	width: 70%;
	margin: 0 15%;
}


.survey-form select {
	height: 100%;
	width: 60%;
}
.survey-form .submit {
	width: 30%;
}

/* 履歴 */
.chart-history {
	width: 500px;
	float: left;
}

.history-table {
	float: left;
}

th,td {
    border: solid 1px;
    padding: 5px;
}

table {
    border-collapse:  collapse;
}

.square_btn {
	display: inline-block;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #FFF;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.select_survey_btn {
	background: #005FCC; /*色*/
	border: solid 1px #005FCC; /*線色*/
}

