@CHARSET "UTF-8";

#survey {
  margin: -10px auto 0;
  width: 700px;
  height: 600px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

#next {
  padding: 0 50px;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 152px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
#submit {
	  padding: 0 50px;
  width: 100%;
  box-sizing: border-box;
  position: responsive;
  bottom: -103px;
  left: 0px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

#back {
  padding: 0 50px;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 112px;
  margin-bottom: 10px;
  background: #888;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
#next:hover {
  background: #FF4000;
}

#back:hover {
  background: #FF4000;
}

.questions {
  margin-left: 650px;
  padding: 0 50px ;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 50px;
}
.questions:first-child {
  margin-left: 0;
}

.choice-box {
	border: 1px solid black;
}
